h1{
    color: #dfdcd4;text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 50pt;
    position: sticky;
    top: 0;
}

pre {
    margin: 0;
    margin-left: 40px;
    color: white;
    font-size: 20pt;

}

.julie{
    position:absolute;
    top: 400px;
    left: 300px;
}

.list{
    position:absolute;
    top: 435px;
    left: 730px;}
